<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

+ List Popular Languages For Data Science
+ List Popular Libraries For Data Science 
+ Different Data Science Tools 
+ Executing Arithmetic Expressions in Python

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

##### Some of the popular libraries that Data Scientists use are:
1. Pandas
2. NumPy
3. SciPy
4. MatplotLib
5. Scikit-Learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|PostgreSQL|
|GitHub|
|Apache Spark|

### Below are a few examples of evaluation arithmetic expressions in Python

In [5]:
# This is a simple arithmetic expression to multiply then add integers 
result=(3*4)+5
print(result)

17

In [6]:
# This will convert 200 hours minnutes to hours by dividing by 60. 
result=(200)/60
print(result)

3.3333333333333335

## Author

Claudia Demi Bueno